.tblresults td, .tblresults th {
    border: solid 1px blue;
    border-collapse: collapse;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

table.tblresults {
    font-size: 1em;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}

.tblresults td {
    padding: 5px;
}

@media screen and (max-width: 560px) {

    .tblresults,
    .tblresults thead,
    .tblresults tbody,
    .tblresults th,
    .tblresults td,
    .tblresults tr {
        display: block;
    }

    .tblresults thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

        .tblresults tr {
            margin-bottom: 20px;
            border: solid 1px blue;
            max-width: 360px;
        }

    .tblresults td {
        position: relative;
        padding-left: 50%;
    }


}